{% extends "master.html" %}
{% block body %}
{% endblock body %}



    {% comment %} <label for="Title">Title</label>
    <textarea name="Title" id="Title"></textarea>
    <label for="Description">Description</label>
    <textarea name="Description" id="Description"></textarea>
    <label for="Ingredients">Ingredients</label>
    <textarea name="Ingredients" id="Ingredients"></textarea>
    <label for="Instructions">Instructions</label>
    <textarea name="Instructions" id="Instructions"></textarea>
    

    <input type="file" name='Image'> {% endcomment %}