{% extends 'master.html' %}
{% block body %}


<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<h1>A Fancy Table</h1>

<table id="customers">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>Created Time</th>
  </tr>
  <tr>
    <td>{{viewTask.title}}</td>
    <td>{{viewTask.description}}</td>
    <td>{{viewTask.status}}</td>
    <td>{{viewTask.due_date}}</td>
    <td>{{viewTask.created_at|date:"Y-m-d H:i"}}</td>
  </tr>
</table>


{% endblock body %}