<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Task</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
        
        {% if request.user.user_type == 'admin' %}
           <li class="nav-item"><a class="nav-link" href="{% url 'pending_accounts' %}">Pending Account</a></li>
        {% endif %}
        {% if request.user.user_type == 'employer' %}
        <li class="nav-item"><a class="nav-link" href="{% url 'job_list' %}">Add Job</a></li>
        {% endif %}
         {% if request.user.user_type != 'admin' %}
        <li class="nav-item"><a class="nav-link" href="{% url 'application_list' %}">Applied Job list</a></li>
        {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center" href="#" id="profileMenu" data-bs-toggle="dropdown">
              {% if request.user.profile_picture %}
              <img src="{{ request.user.profile_picture.url }}" alt="Profile" class="rounded-circle me-2" width="32"
                height="32">
              {% else %}
              <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Default Profile"
                class="rounded-circle me-2" width="32" height="32">
              {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileMenu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
              <li><a class="dropdown-item" href="">Edit Profile</a></li>
               <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>