{% extends 'Master.html' %}

{% block body %}

<div class="container mt-4">
    <h2>Create Update Task</h2>
    
    <form method="POST" action="" style="max-width: 600px; margin: auto; background: #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        {% csrf_token %}
        <div class="form-group">
            <label for="title" style="font-weight: bold;">Title</label>
            <input type="text" class="form-control" id="title" value="{{task.title}}" name="title" placeholder="Enter task title" required style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;">
        </div>
        <div class="form-group">
            <label for="description" style="font-weight: bold;">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter task description" style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;"> value="{{task.description}}"</textarea>
        </div>
        <div class="form-group">
            <label for="status" style="font-weight: bold;">Status</label>
            <select class="form-control" id="status" name="status" style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;">
                <option value="Pending" {% if task.status == "Pending" %}selected{% endif %}>Pending</option>
                <option value="In Progress" {% if task.status == "In Progress" %}selected{% endif %}>In Progress</option>
                <option value="Completed" {% if task.status == "Completed" %}selected{% endif %}>Completed</option>
            </select>
        </div>
        <div class="form-group">
            <label for="due_date" style="font-weight: bold;">Due Date</label>
            <input type="date" class="form-control" id="due_date" value="{{task.due_date|date:'Y-m-d'}}" name="due_date" required style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;">
        </div>
        <div class="form-group">
            <label for="created_at" style="font-weight: bold;">Create At</label>
            <input type="date" class="form-control" id="created_at" value="{{task.created_at|date:'Y-m-d'}}" name="created_at" required style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;">
        </div>
        <button type="submit" value="submit" class="btn btn-primary" style="background-color: #007bff; border: none; padding: 10px 20px; border-radius: 4px; font-size: 16px;">Edit Task</button>
    </form>
</div>
    
{% endblock body %}