{% extends "master.html" %}

{% block body %}
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

<h1>Event List</h1>

<table id="customers">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
    <th>Image</th>
    <th>Creator</th>
    <th>Action</th>
  
  </tr>
  {% if user.is_superuser %}
  {% for i in adminData %}
  <tr>
    <td>{{i.title}}</td>
    <td>{{i.date}}</td>
    <td>{{i.location}}</td>
    <td>{{i.description}}</td>
    <td><img src="/{{i.description}}" height="100px"></td>
    <td>{{i.user}}</td>
    <td>
    <a href="{% url 'deleteEvent' i.id %}">Delete</a>
    <a href="{% url 'veiwEvent' i.id %}">Veiw</a>
    <a href="{% url 'editEvent' i.id %}">Edit</a>
    </td>


  </tr>
  {% endfor %}
  {% else %}
    {% for i in data %}
  <tr>
    <td>{{i.title}}</td>
    <td>{{i.date}}</td>
    <td>{{i.location}}</td>
    <td>{{i.description}}</td>
    <td><img src="/{{i.description}}" height="100px"></td>
    <td>{{i.user}}</td>
    <td>
    <a href="{% url 'deleteEvent' i.id %}">Delete</a>
    <a href="{% url 'veiwEvent' i.id %}">Veiw</a>
    <a href="{% url 'editEvent' i.id %}">Edit</a>
    </td>


  </tr>
  {% endfor %}
  {% endif %}

</table>

{% endblock body %}