{% extends "master.html" %} 

{% block body %}

<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


<h3>Add Task</h3>

<div>
  <form action="" method="POST">
    {% csrf_token %}

    <label for="fname">Title</label>
    <input type="text" id="fname" name="title" value="{{data.title}}" placeholder="Title..">

    <label for="lname">Description</label>
    <input type="text" id="lname" name="description" value="{{data.description}}" placeholder="Description..">

    <label for="lname">Status</label>
    <input type="text" id="lname" name="status" value="{{data.status}}" placeholder="Status..">

    <label for="lname">Due Date</label>
    <input type="date" id="lname" name="due_date" value="{{ data.due_date|date:'Y-m-d' }}">


    <input type="submit" value="Submit">
  </form>
 
</div>

{% endblock body %}
