{% extends "master.html" %}
{% block body %}
welcome to the home page of the education portal project.
<p>Here you can find various resources and information related to education.</p>        
<p>Feel free to explore the site and make use of the available features.</p>
<p>If you are new, you can <a href="signUp">sign up</a> or <a href="logIn">log in</a> to access more functionalities.</p>
<p>For any queries or support, you can reach out through the <a href="#contact">Contact</a> section.</p>
<p>Thank you for visiting!</p>  

{% endblock body %}