{% extends "master.html" %}

{% block body %}


<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


<h1>Recipe Form</h1>

<div>
  <form action="" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <label for="fname">Title</label>
    <input type="text" id="fname" name="Title" value="{{data.Title}}">

    <label for="lname">Description</label>
    <input type="text" id="lname" name="Description" value="{{data.Description}}">
    
    <label for="fname">Ingredients</label>
    <input type="text" id="fname" name="Ingredients"value="{{data.Ingredients}}">
    
    <label for="fname">Instructions</label>
    <input type="text" id="fname" name="Instructions"value="{{data.Instructions}}">
        
    <img src="/{{data.Image}}"height='100px'>
    <input type="file" id="fname" name="Image">    
    <label for="fname">Image</label>
    

 
  
    <input type="submit" value="Submit">
  </form>
</div>


{% endblock body %}