{% extends 'master.html' %}

{% block body %}
<div class="welcome-container" style="text-align: center; margin-top: 50px;">
    <h1 style="font-size: 3em; color: hsl(138, 86%, 44%);"><br>Welcome to </h1>
    <h1 style="font-size: 3em; color: #b910cf;">Daffodil International Professional Training Institute </h1>
    <p style="font-size: 2em; color: #5a4ab4;"><br>Your gateway to academic excellence and resources</p>
 
   
</div>
    <style>
        body {
            background-color: #f0f8ff; /* Light blue, often associated with schools */
        }
    </style>
{% endblock body %}