{% extends 'master.html' %}
{% block body %}

<style>
    .mehedi{
        color: green;
        text-align: center;
        margin-top: 100px;
    }
</style>

<form action="" method="POST" class="mehedi">
    {% csrf_token %}
    <label for="title">Title</label>
    <input type="text" name="title">

    <label for="description">Description</label>
    <textarea name="description"></textarea>

    <label for="status">Status</label>
    <select name="status" id="">
        <option value="pending">Pending</option>
        <option value="in_prograss">In Progress</option>
        <option value="completed">Completed</option>
    </select>

    <label for="due_date">Due Date</label>
    <input type="date" name="due_date"> 

    <button type="submit">Add Task</button>
</form>
{% endblock body %}