<!DOCTYPE html>
<html>
<head>
    <title>Login - JobNest</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button><br>
            <p style="text-align: center;">If You Dont Have account plz Click This: <a href="{% url 'register' %}">Register</a></p>
            
        </form>
    </div>
</body>
</html>
