{% extends "master.html" %} 

{% block body %}

<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>


<h1>Student List</h1>

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Roll No</th>
    <th>Department</th>
    <th>Student Image</th>
    <th>Created At</th>
    <th>Action</th>

    
  </tr>

  {% for i in data %}
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.roll_no}}</td>
    <td>{{i.department}}</td>
    <td><img src="/{{i.student_image}}" height='100px'></td>
    <td>{{i.created_at}}</td>
    <td>
        <a href="{% url 'viewStudent' i.id %}">View</a>
        <a href="{% url 'deleteStudent' i.id %}">Delete</a>
        <a href="{% url 'editStudent' i.id %}">Edit</a>
       


    </td>
    
  </tr>
  {% endfor %}

</table>

{% endblock body %}