{% extends 'authApp/base.html' %}

{% block content %}
<div class="w3-container" style="max-width:500px;margin:50px auto">
    <h2 class="w3-center">Update Profile</h2>
    
    {% if messages %}
        {% for message in messages %}
            <div class="w3-panel w3-green">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <form method="post" class="w3-container w3-card-4">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button class="w3-btn w3-blue w3-right" type="submit">Update Profile</button>
        </p>
    </form>
</div>
{% endblock %}