{% extends "master.html" %}
{% block body %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>Pending Account List</h1>

<table id="customers">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>User Type</th>
    <th>Status</th>
    <th>Action</th>

  </tr>
  {% for i in data %}
  <tr>
    <td>{{i.username}}</td>
    <td>{{i.email}}</td>
    <td>{{i.userTypes}}</td>
    <td>{{i.pendingStatus}}</td>
    <td>

      {% if i.pendingStatus == 'Rejected' %}
       You Are Rejected
       {% else %}
        <a href="{% url 'acceptPending' i.id %}">Accept</a>
        <a href="{% url 'rejectPending' i.id %}">Reject</a>
      {% endif %}
    </td>
    
  </tr>
  {% endfor %}
 
</table>

{% endblock body %}