{% extends "master.html" %}
{% block body %}
{% load static %}
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 100%;
            justify-items: center;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>

<h2>Profile Details</h2>

<div class="card">
  <img src="/{{user.profileImage}}" alt="Avatar" style="width:100px; justify-items: center;">
  <div class="container">
    <h4><b>Full Name: {{user.fullName}}</b></h4>
    <p>User Name: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Phone: {{user.phoneNumber}}</p>
  </div>
</div>
{% endblock body %}