{% extends 'master.html' %}


{% block body %}

<h2>Update Your Company Profile</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Company Name: <input type="text" name="company_name" value="{{ profile.company_name }}"><br>
  About: <textarea name="about_company">{{ profile.about_company }}</textarea><br>
  Location: <input type="text" name="location" value="{{ profile.location }}"><br>
  Company Logo: <input type="file" name="company_logo"><br>
  <button type="submit">Save</button>
</form>

    
{% endblock body %}
    