<h1>Table</h1>
<a href="{% url 'create' %}">Add Button</a>

<table>
    <thead>
        
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>

    

    <tbody>
        {% for i in data %}
        <tr>
        <td>{{ i.name}}</td>
        <td>
            <img src="/{{i.image}}" height="100px">
        </td>
        <td>
            <a href="{% url 'edit' i.id %}">Edit</a>
            <a href="{% url 'delete' i.id %}">Delete</a>
        </td>
        </tr>
        {% endfor %}

    </tbody>
  
</table>