{% extends 'master.html' %}

{% block content %}

<div style="margin-top:50px">
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your dashboard. Use the navigation bar to manage your account.</p>
</div>

<h1>List on Add Cash</h1>

<table>
  <tr>
    <th>Last Balance</th>
    <th>datetime</th>
    <th>addCash/expense</th>
    <th>Your Balance</th>
  </tr>
  {% for i in addCash %}{% endfor %}
  <tr>
    <td>{{addCash.source}}</td>
    <td>{{addCash.datetime}}</td>
    <td>{{addCash.amount}}</td>
    <td>{{addCash.description}}</td>
  </tr> 
</table>

{% endblock %}