{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Left: Full News Content -->
        <div class="col-md-8">
            <div class="full-news">
                <h2><b>{{ news_item.title }}</b></h2>
                <p><i class="far fa-clock"></i> {{ news_item.published_date|date:"d M, Y" }}</p>
                
                {% if news_item.featured_image %}
                    <img src="{{ news_item.featured_image.url }}" alt="{{ news_item.title }}" class="img-fluid mb-3">
                {% endif %}

                <p>{{ news_item.content|safe }}</p> <!-- Assuming `content` field holds full article -->
            </div>
        </div>

        <!-- Right: Recent News -->
        <div class="col-md-4">
            <h3>Recent News</h3>
            <ul class="list-unstyled">
                {% for news in recent_news %}
                <li class="mb-2">
                    <a href="{% url 'news_detail' news.pk %}"><b>{{ news.title }}</b></a><br>
                    <small><i class="far fa-clock"></i> {{ news.published_date|date:"d M, Y" }}</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
