{% extends "master/base.html" %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <h3 class="page-title">Update Leave Detail</h3>
        </div>
<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">New Leave Request</h5>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'employee_dashboard' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
