
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        <form action="" method="POSTt">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">phone:</label>
            <input type="phone" id="phone" name="phone" required>

            <label for="password">password:</label>
            <input type="password" id="password" name="password" required>

            <select name="usertype" id="usertype" required>
            <option value="">--Please choose an option--</option>
            <option value="admin">Admin</option>
            <option value="employer">Employer</option>
            <option value="candidate">Candidate</option>
            </select>

            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
