<ul>
  <li><a class="active" href="{% url 'dashboard' %}">Dashboard</a></li>

  {% if request.user.user_types == 'Admin' %}
    <li><a class="active" href="{% url 'pending_account' %}">Pending Account</a></li>
  {% endif %}

  {% if request.user.user_types == 'Employer' %}
    <li><a class="active" href="{% url 'update_employer_profile' %}">Update Profile</a></li>
  {% endif %}

  {% comment %} {% if request.user.user_types == 'Candidate'%}
    <li><a class="active" href="{% url 'update_candidate_profile' %}">Update Profile</a></li>
  {% endif %} {% endcomment %}

  <li><a class="active" href="{% url 'change_pass' %}">Change Password</a></li>
  <li><a class="active" href="{% url 'signout' %}">Log Out</a></li>
</ul>