{% extends 'master.html' %}

{% block body %}
<style>
    /* Removed CSS styles to disable design */
</style>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>City</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        {% for student in teacher %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.department }}</td>
            <td>{{ student.city }}</td>
            <td>{{ student.age }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
