<!DOCTYPE html>
<html>
<head>
    <title>Register - JobNest</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form>
            <input type="text" placeholder="Username" value= required>
            <input type="email" placeholder="Email" required>
            <input name="" type="password" placeholder="Password" required>
            <select>
                <option value="job_seeker">Job Seeker</option>
                <option value="recruiter">Recruiter</option>
            </select>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
