<!DOCTYPE html>
<html>
<head>
    <title>Register - JobNest</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="confirmPassword" name="confirmPassword" required>            
            <select name="userType">
                <option value="job_seeker">Job Seeker</option>
                <option value="recruiter">Recruiter</option>
            </select>
            <button type="submit">Register</button><br>
            <p style="text-align: center;">If You Have account plz Click This: <a href="{% url 'login' %}">Log In</a></p>
        </form>
    </div>
</body>
</html>
