{% extends "master/master.html" %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>

{% block body %}

<body>

<h2>Card</h2>

<div class="card">
  <div class="container">
    <h4><b>{{ request.user }}</b></h4> 
    <p>{{ request.user.user_types }}</p> 
    <p>{{ request.user.phone }}</p> 
    <p>{{ request.user.email }}</p> 
  </div>
</div>


{% endblock body %}