{% extends "master.html" %}
{% block body %}
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
<h2>Recipe List</h2>


  <div class="card">
    <img src="/{{recipeData.Image}}" alt="Image" style="width:40%">
    <div class="container">
      <h4><b>Recipe: {{recipeData.Title}}</b></h4> 
      <p><b>Description: </b>{{recipeData.Description}}</p>
      <p><b>Ingredients:</b>{{recipeData.Ingredients}}</p>
      <p><b>Instructions:</b>{{recipeData.Instructions}}</p>
    </div>
  </div>

{% endblock body %}